/* Reset básico */
*{
    margin: 0;
    padding: 0;
}


header {
    font-family: "Outfit", sans-serif;
    background: linear-gradient(135deg, #11a3cb, blue);
    height: 600px;
}

h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    font-weight: 900;
    font-size: 35px;
    
}

.login-box {
    background: #fff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 300px;
    margin: auto; /* Centraliza horizontalmente */
    position: relative;
    top: 1%;
    transform: translateY(0%); /* Centraliza verticalmente */
}

.logologin{
    padding-top: 30px;
}


.login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
}

.login-box input:focus {
    outline: none;
    border-color: #6a11cb;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #2575fc;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-box button:hover {
    background: #edefff;
    color: #2575fc;
}

footer{
    height: 100px;
    background-color: aliceblue;
    text-align: center;
}

footer p{
    padding-top: 30px;
    color: blue;
    font-family: "Outfit", sans-serif;
}

a {
    color: blue;
    font-family: "Outfit", sans-serif;
    text-decoration: none;
    padding-right: 15px;
    padding: 10px;

}
